
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
width:1920px;
height:1080px;
overflow:hidden;
background:transparent;
font-family:Arial,Helvetica,sans-serif;
}

/* TOP BAR */

#topBar{
position:absolute;
top:30px;
left:50%;
transform:translateX(-50%);
display:flex;
align-items:center;
gap:18px;
}

/* TITLE */

#competitionArea{
background:rgba(255,255,255,.14);
backdrop-filter:blur(12px);
padding:12px 24px;
border-radius:18px;
border:2px solid rgba(255,255,255,.2);
}

#competitionTitle{
font-size:22px;
font-weight:800;
color:white;
letter-spacing:2px;
}

/* LOGO */

#logoArea{
width:74px;
height:74px;
background:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.35);
}

#vrfsLogo{
width:60px;
height:60px;
object-fit:contain;
}

/* SCOREBOARD */

#scoreboard{
position:absolute;
top:125px;
left:50%;
transform:translateX(-50%);
display:flex;
align-items:center;
border-radius:22px;
overflow:hidden;
box-shadow:0 14px 35px rgba(0,0,0,.45);
}

.team{
background:#77142f;
color:white;
padding:20px 42px;
min-width:300px;
text-align:center;
font-size:30px;
font-weight:700;
}

.scoreBox{
background:white;
padding:18px 45px;
display:flex;
align-items:center;
gap:20px;
font-size:58px;
font-weight:900;
color:#111;
}

.dash{
opacity:.5;
}

#matchInfo{
position:absolute;
top:250px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:12px;
}

#timer,
#matchStatus{
background:rgba(119,20,47,.92);
color:white;
padding:10px 20px;
border-radius:12px;
font-weight:bold;
font-size:20px;
}

#goalBanner{
position:absolute;
top:340px;
left:50%;
transform:translateX(-50%);
display:none;
opacity:0;
background:#77142f;
color:white;
padding:18px 70px;
border-radius:40px;
font-size:42px;
font-weight:900;
transition:.3s;
}
